# Data Science with Python - Working with cars.csv

# Numpy

In [19]:
# Import the numpy package as np
import numpy as np

In [20]:
# Create 2 new lists height and weight
height = [1.87,  1.87, 1.82, 1.91, 1.90, 1.85]
weight = [81.65, 97.52, 95.25, 92.98, 86.18, 88.45]

# Create 2 numpy arrays from height and weight
np_height = np.array(height)
np_weight = np.array(weight)

print(type(np_height))

<class 'numpy.ndarray'>

## Element-wise calculations

In [21]:
# Calculate bmi
bmi = np_weight / np_height ** 2

# Print the result
print(bmi)

[23.34925219 27.88755755 28.75558507 25.48723993 23.87257618 25.84368152]

## Subsetting

In [22]:
# For a boolean response
bmi > 23

# Print only those observations above 23
bmi[bmi > 23]

array([23.34925219, 27.88755755, 28.75558507, 25.48723993, 23.87257618,
       25.84368152])

## Exercise

First, convert the list of weights from a list to a Numpy array. Then, convert all of the weights from kilograms to pounds. Use the scalar conversion of 2.2 lbs per kilogram to make your conversion. Lastly, print the resulting array of weights in pounds.

In [23]:
import numpy as np

# List of weights in kilograms
weight_kg = [81.65, 97.52, 95.25, 92.98, 86.18, 88.45]

# Step 1: Convert the list to a Numpy array
np_weight_kg = np.array(weight_kg)
print("Weights in kg: ", np_weight_kg)

# Step 2: Convert the weights from kilograms to pounds using the conversion factor 2.2
np_weight_lbs = np_weight_kg * 2.2
print("Weights in lbs: ", np_weight_lbs)

Weights in kg:  [81.65 97.52 95.25 92.98 86.18 88.45]
Weights in lbs:  [179.63  214.544 209.55  204.556 189.596 194.59 ]

# Pandas

In [24]:
dict = {"country": ["Brazil", "Russia", "India", "China", "South Africa"],
       "capital": ["Brasilia", "Moscow", "New Dehli", "Beijing", "Pretoria"],
       "area": [8.516, 17.10, 3.286, 9.597, 1.221],
       "population": [200.4, 143.5, 1252, 1357, 52.98] }

import pandas as pd
brics = pd.DataFrame(dict)
print(brics)

        country    capital    area  population
0        Brazil   Brasilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Dehli   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98

In [25]:
# Set the index for brics
brics.index = ["BR", "RU", "IN", "CH", "SA"]

# Print out brics with new index values
print(brics)

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Dehli   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

### Working with csv

In [26]:
# Import pandas as pd
import pandas as pd

# Import the cars.csv data: cars
cars = pd.read_csv('./cars.csv')

# Print out cars
print(cars)

    Unnamed: 0  cars_per_cap        country  drives_right
NaN         US           809  United States          True
NaN        AUS           731      Australia         False
NaN        JAP           588          Japan         False
NaN         IN            18          India         False
NaN         RU           200         Russia          True
NaN        MOR            70        Morocco          True
NaN         EG            45          Egypt          True

### Indexing

In [27]:
# Import pandas and cars.csv
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Print out country column as Pandas Series
print(cars['cars_per_cap'])

# Print out country column as Pandas DataFrame
print(cars[['cars_per_cap']])

# Print out DataFrame with country and drives_right columns
print(cars[['cars_per_cap', 'country']])

NaN    809
NaN    731
NaN    588
NaN     18
NaN    200
NaN     70
NaN     45
Name: cars_per_cap, dtype: int64
     cars_per_cap
NaN           809
NaN           731
NaN           588
NaN            18
NaN           200
NaN            70
NaN            45
     cars_per_cap        country
NaN           809  United States
NaN           731      Australia
NaN           588          Japan
NaN            18          India
NaN           200         Russia
NaN            70        Morocco
NaN            45          Egypt

In [33]:
# Import cars data
import pandas as pd
cars = pd.read_csv('./cars.csv', index_col = 0)

cars.head()

    Unnamed: 0  cars_per_cap        country  drives_right
NaN         US           809  United States          True
NaN        AUS           731      Australia         False
NaN        JAP           588          Japan         False
NaN         IN            18          India         False
NaN         RU           200         Russia          True

In [35]:
# Import cars data
import pandas as pd
cars = pd.read_csv('./cars.csv', index_col = 0)

# Print out observation for Japan
print(cars.iloc[2])

Unnamed: 0        JAP
cars_per_cap      588
country         Japan
drives_right    False
Name: nan, dtype: object